/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 5, 2025, 4:02:13 PM
    Author     : Admin
*/
body{
    background-color: black;
    color: #ffffff;
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
}
.logo, .tumanisha{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1em;
}


.tumanisha{
    gap: 0;
}

header{
    display: flex;
    justify-content: space-between;
}

